*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Inter',sans-serif;
}

body{
background:#f7f7fb;
padding:16px;
}

.topbar{
display:flex;
align-items:center;
gap:10px;
margin-bottom:20px;
}

.menu{
width:34px;
height:34px;

border:none;

border-radius:10px;

background:white;

box-shadow:0 3px 10px rgba(0,0,0,.05);
}

.search{

flex:1;

height:38px;

border:none;

border-radius:20px;

padding-left:14px;

background:white;

font-size:12px;

box-shadow:0 3px 10px rgba(0,0,0,.05);
}

.notify{
position:relative;
font-size:18px;
}

.notify span{

position:absolute;

top:-5px;
right:-5px;

width:16px;
height:16px;

background:red;

color:white;

font-size:10px;

border-radius:50%;

display:flex;

justify-content:center;

align-items:center;
}

.admin{

display:flex;

gap:8px;

padding:8px;

background:white;

border-radius:14px;

box-shadow:0 3px 10px rgba(0,0,0,.05);
}

.avatar{

width:28px;
height:28px;

border-radius:50%;

background:#6b5cff;

color:white;

display:flex;

align-items:center;

justify-content:center;

font-size:11px;
}

.admin h5{
font-size:12px;
}

.admin p{
font-size:10px;
color:gray;
}

.hero{

background:
linear-gradient(
135deg,
#ffffff,
#eef5ff,
#f3ffff
);

padding:24px;

border-radius:24px;

box-shadow:
0 8px 18px
rgba(0,0,0,.05);

margin-bottom:24px;
}

.live{
font-size:11px;
color:#7a5cff;
margin-bottom:14px;
}

.hero h1{

font-size:22px;

line-height:1.5;

margin-bottom:10px;
}

.hero span{
color:#6b5cff;
}

.hero p{
font-size:13px;
color:#666;
line-height:1.7;
}

.btns{
display:flex;
gap:12px;
margin-top:18px;
}

.vote{

background:
linear-gradient(
90deg,
#6b5cff,
#4f72ff
);

color:white;

border:none;

padding:12px 16px;

border-radius:14px;
}

.results{

border:none;

padding:12px 16px;

background:white;

border-radius:14px;
}

.module-title{
margin-bottom:18px;
}

.module-title p{
font-size:12px;
color:gray;
margin-top:4px;
}

.cards{

display:grid;

grid-template-columns:1fr 1fr;

gap:14px;
}

.card{

background:white;

padding:18px;

border-radius:20px;

min-height:170px;

box-shadow:
0 5px 15px
rgba(0,0,0,.04);
}

.icon{

width:42px;
height:42px;

border-radius:50%;

background:
linear-gradient(
135deg,
#6b5cff,
#d946ef
);

display:flex;

justify-content:center;

align-items:center;

color:white;

margin-bottom:18px;
}

.card h4{
margin-bottom:12px;
}

.card p{

font-size:12px;

line-height:1.6;

color:#666;

margin-bottom:16px;
}

.card a{

text-decoration:none;

color:#8b5cf6;

font-size:12px;
}